<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Welcome</a></li>
  </ul>
  <h3 class="text-muted">angular ui semweb git</h3>
</div>

<div>
  <h1>Welcome</h1>
  <p>angular ui semweb is an attempt to assemble high quality angular.js directives for Semantic Web Applications.</p>
  <p>This will include:</p>
  <ul>
      <li>a <a ng-href="semweb-label">label directive</a> to provide nice and extensible label for humans</li>
      <li>a <a ng-href="semweb-tree">tree directive</a> to allow tree-based browsing of somehow connected resources (class tree, navigation tree, facet property tree, skos concept tree, geo hierarchy tree, ...)</li>
      <li>a <a ng-href="semweb-table">resource list directive</a> to present tabular views of resources based on SPARQL queries</li>
      <li>...</li>
  </ul>
</div>

<div class="footer">
    <p>Licenced under Apache2 by <a href="http://aksw.org">AKSW</a></p>
</div>
